html,
body,
h1,
h2,
h3,
p,
ol,
ul,
li,
a {
  padding: 0;
  border: 0;
  margin: 0;
}



.home {
  background-color: black;
  background-size: cover;
  height: 580px;
  display: flex;
  background: black url(images/green-vegetables-on-brown-wooden-chopping-board-3952047.jpg) center center repeat;
}

.home body {
  font-family: "tomorrow", serif;
  color: #ffffff;
}

.Freshest {
  display: inline-block;
}

a {
  text-decoration: none;
  color: #ffffff;
}

.L {
  text-align: end;
  flex-grow: 1;
}

.nav li {
  width: 1510px;
  display: inline-block;
  padding-right: 20px;
  text-decoration: none;
}

.nav li:last-child {
  padding-right: 0;
}

.main-body {
  display: inline-block;
  justify-content: center;
  align-items: center;
  margin: 250px 550px;
  font-size: xx-large;
}

.Menu {
  background-color: black;
  color: #ffffff;

}

.Menu img {
  display: block;
  margin: 0 100 0 0;
  float: left;
}

img {
  height: 300px;
}

.Menu p {
  display: block;
  margin: 0 auto 0 auto 0;
}

.pineapple {
  margin: 237px 0 0 0;
}

.pasta {
  margin: 225px 0 0 0;
}